[Unit]
Description=XScreenSaver

[Service]
ExecStart=/usr/bin/xscreensaver -no-splash -log /home/alex/.log/xscreensaver

[Install]
WantedBy=default.target
