*.swp
*~

# Ranger specific ignores. As they are relative to the current user and dotfiles should be computer independent. (As most as possible)
setup/ranger/tagged
setup/ranger/bookmarks
setup/ranger/history
