*.pyo
*.pyc
*.swp
*~

# Ranger specific ignores. As they are relative to the current user and dotfiles should be computer independent. (As most as possible)
setups/ranger/config/tagged
setups/ranger/config/bookmarks
setups/ranger/config/history

.mypy_cache/
