[Desktop Entry]
Comment=GUI for Syncthing
Exec=/usr/bin/syncthing-gtk
Hidden=true
Icon=/usr/share/syncthing-gtk/icons/st-logo-128.png
Name=Syncthing-GTK
Type=Application
X-GNOME-Autostart-enabled=true
