[Unit]
Description=Radicale server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/radicale -f
User=%i
Restart=on-failure

[Install]
WantedBy=multi-user.target
